{% extends '/layout.twig' %}

{% block body %}

    <h2>Liste des Ka-éléments et des signes zodiacaux</h2>
    
    <div class="row">
        <ul id="ka-elements" class="col-lg-6" style="list-style-type: none;">
            <li class="k-sn">Soleil Noir</li>
            <li class="k-ada">Adamante</li>
            <li class="k-iba">Khaiba</li>
            <li class="k-ori">Orichalque</li>
            <li class="k-air">Air</li>
            <li class="k-feu">Feu</li>
            <li class="k-ln">Lune-noire</li>
            <li class="k-oln">Graal</li>
            <li class="k-lun">Lune</li>
            <li class="k-ter">Terre</li>
            <li class="k-eau">Eau</li>
            <li class="k-sol">Soleil</li>
        </ul>
        
        <ul id="constellations" class="col-lg-6" style="list-style-type: none">
            <li class="z-ari">Bélier</li>
            <li class="z-tau">Taureau</li>
            <li class="z-gem">Gémeaux</li>
            <li class="z-can">Cancer</li>
            <li class="z-leo">Lion</li>
            <li class="z-vir">Vierge</li>
            <li class="z-lib">Balance</li>
            <li class="z-sco">Scorpion</li>
            <li class="z-sag">Sagittaire</li>
            <li class="z-cap">Capricorne</li>
            <li class="z-aqu">Verseau</li>
            <li class="z-pis">Poissons</li>
            <li class="z-oph">Serpentaire</li>
        </ul>
    </div>

{% endblock %}
