// out: ../web/css/style.css, sourcemap: true, compress: true

@import "color";
//@import "widths";

body {
    background-color: @c-default;

    .container.full-page {
        height: 100%;

        // Left menu !
        .colborder.span-6 {
            width: 180px;
            nav {
                height: 100%;

                ul {
                    margin: 0;
                    padding: 15px;
                    li { list-style-type: none; color: @c-lighter;}
                    li:hover { color: @c-dark; background-color: @c-light;}
                }
            }
        }

        .span-18 {
            background: lighten(@c-lighter, 20%);
        }
    }
}
