<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">

        <link rel="stylesheet" type="text/css" href="/vendor/css/grid.css">
        <link rel="stylesheet" type="text/css" href="/vendor/css/forms.css">

        <link rel="stylesheet" type="text/css" href="/css/style.css">
        {% block headAssets %}{% endblock %}
    </head>

    <body>

        <div class="container full-page">
            <div class="span-6 colborder">
                {% include '/nav.twig' %}
            </div>

            <div class="span-18">
                {% block body %}{% endblock %}
            </div>
        </div>
        
        <script type="text/javascript" src="/vendor/js/jquery-3.1.1.min.js"></script>
        {% block bottomAssets %}{% endblock %}
    </body>

</html>
